<web-app>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>servlet.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
</web-app>

